<!DOCTYPE html>
<html>
<head>
  <title>Delorean</title>
  <%= stylesheet_link_tag    "delorean/application", media: "all" %>
  <%= javascript_include_tag "delorean/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
